body {
  background-color: rgb(255, 255, 255); 
  text-align: center;
  color: rgb(0, 0, 0);
  font-family:'Fauna One', serif;
  margin-bottom: 10px;
}

.page, .sources {
    padding: 0 20% 0 20%;
}

h1 {
  font-size: 101px;
  color: rgb(56, 56, 111);
  font-family:'Space Mono', monospace;
  font-weight: normal;
  overflow-wrap: break-word;
  padding: 0 10% 0 10%;

}

h2 {
  color: rgb(34, 34, 67);
  font-size: 70px;
  font-family:'Muli', sans-serif;
  font-weight: normal;
  overflow-wrap: break-word;
}

h3 {
    font-family:'Muli', sans-serif;
    font-weight: 700;
    color: rgb(23, 23, 82)
}

p, a {
  color: rgb(56, 56, 111);
  font-family:'Muli', sans-serif;
  font-weight: normal;
  letter-spacing: -0.5px;
  font-size: 20px;
}

.five_reasons {
    font-size: 35px;
    font-family:'Muli', sans-serif;
}

.five_reasons b{
    color: rgb(34, 34, 67);
    font-size: 37px;

}

.five_reasons p {
    font-size: 30px;
}

ol {
  padding: 0;
}

.sources, .sources a {
    font-size: 40px;
}

a:hover h1{
  color: hotpink;
}

a:hover h2{
  color: hotpink;
}

a:hover {
  color: hotpink;
}

a:link {
  text-decoration: none;
}

.menu {
  padding: 15px;
  border-bottom: solid 1px;
  text-align: right;
}

.footer {
  margin-top: 15px;
  padding: 15px;
  border-top: solid 1px;
  text-align: right;
}

/* phone */
    @media (max-width: 900px) {
      .page, .sources {
            padding: 0 2% 0 2%;
      }
      h1 {
        font-size: 35px;
      }

      h2 {
        font-size: 30px;
      }

      h3 {
        font-size: 28px;
      }

      a {
        font-size: 1.2rem;
      }

      .five_reasons, .five_reasons p {
          font-size: 20px;
      }

      .five_reasons b {
          font-size: 22px;
      }

      .sources, .sources a {
          font-size: 25px;
      }
  
    }